@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

html,body{
   width: 100%;
   height: 100%;
 font-size: 62.5%;
}
/*-----------------------------------Navigation----------------------------------------------*/
.main-header{
  width: 100%;
  padding: 2rem 2rem;
  background-color: #212121;
  color: #fff;
  border-bottom: 1px solid rgba(0,0, 0, 0.1);
  z-index: 99;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  height: 5rem;
  margin: 0 auto;
  position: relative;
}
.left{
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.header_content-logo{
  font-size: 3.4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-70%);
  cursor: pointer;
}
.header_content_icons{
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.cart-icons{
  position: relative;
}
.cart-icons>span{
  min-width: 2rem;
  text-align: center;
  background-color: #8e2de2;
  padding: 0.25rem;
  position: absolute;
  top: -0.5rem;
  right: -2rem;
  font-size: 1.5rem;
  border-radius: 50%;
}
/* .home{
  width: 100%;
  height: 200vh;
} */
.sticky-header{
  position: sticky;
  top: 0%;
  transform: translateY(-70%);
  animation: stickyHeader 0.3s ease forwards;
}
/*--------------------------------HOMEPAGE BANNER CSS HERO SECTION----------------------------------------------*/
.hero-Banner{
  padding: 4rem 0rem;
  position: relative;
  background-image:  linear-gradient(to right , #8e2de2,#4a00c0);
  width: 100%;
  height: calc(100vh - 80px);
}

.content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  gap: 3rem;
}
.text-content{
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.text-content>h1{
  font-size: 18rem;
}
.text-content>p{
  max-width: 40rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 4rem;
  padding: 0 2rem;
}
.image-content{
  width: 50%;
  height: 100%;
}
.image-content img{
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;

}
.ctas{
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.banner-cta{
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  width: fit-content;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  cursor: pointer;
}
.v2{
  color: #8e2de2;
  background-color: #fff;
}
.banner-cta:hover{
  opacity: 0.6;
}
/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------- FOOTER SECTION-1  NewsLetter Section---------------------------------------------*/
.footer-section{
  width: 100%;
  min-height: 100vh;
}

.newsletter-section{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  background-image: url("../public/newsletter-bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter_section-content{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.small-text{
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #0000008b;
  font-size: 2rem;
}
.big-text{
  margin-bottom: 2rem;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 3rem;
}
.form{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

}
.form input{
  width:30rem;
  height: 4rem;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 1.2rem;
  font-size: 1.6rem;
  outline: 0;
}
.form button{
  width: 10rem;
  height: 4rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  background-color: #8e2de2;
  border: none;
  outline: none;
  border-bottom: 3px solid #8e2de2;

}
.text{
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color:   rgba(0, 0, 0, 0.5);
}
.social-icons{
  display: flex;
  gap: 1rem;

}
.icons{
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/*Footer section 2*/
.footer-content-container{
  width: 100%;
  height: 50vh;
  /* background-color: red; */
}
.footer-content{
  padding: 5rem 2rem;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem 0rem;
}
.col{
  max-width: 30rem;
}
.title{
  margin-bottom: 2rem;
  font-size: 2rem;
}
.menuText{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}
.contact-items{
  display: flex;
  margin-bottom: 1rem;
}
.contact-items svg{
  flex-shrink: 0;
  font-size: 1.4rem;
  margin-right: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}
.Text{
  display: block;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
/*Bottom BAR*/
.bottom-bar{
  width: 100%;
  height: 10vh;
  border-top:1px solid rgba(0, 0, 0, 0.1) ;
}
.bottom_bar-content{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  max-width: 120rem;
  height: 60px;
  /* background-color:blue; */
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
/*------------------------------------Category Section--------------------------------------------*/
/*Parent divs of category section*/
.main-content{
  max-width: 120rem;
  margin: 0 auto;
}
/*-------------------------------*/
.shop-by-category{
  width: 100%;
  /* min-height: 50vh; */
  margin: 5rem 0;
}
.categories{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.category{
  width: calc(25% - 1rem);
  background-color: #131313;
  cursor: pointer;
  overflow: hidden;
}
.category img{
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
  transition: all ease  0.5s;
}
.category img:hover{
  transform: scale(1.2);
}
/*-----------------------------------------Products Components Css--------------------------------------*/
.products-Container{
  margin: 7.5rem 0;
}
.section-heading{
  margin-bottom: 3.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
}
.section-heading::after{
  content: "";
  display: block;
  margin-top: 1rem;
  width: 5rem;
  height: 0.3rem;
  background-color: #8e2de2;
}
/*-----products---------*/
.products{
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
}
.product-card{
   width: calc(25% - 15px);
}
.thumbNail{
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  padding: 2.5rem;
  display: flex;
  align-items: center;
}
.thumbNail img{
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
  transition: all ease  0.5s;
}
.thumbNail img:hover{
  transform: scale(1.2);
}
.prod-details .name{
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
}
.prod-details .price{
  font-size: 2.4rem;
}
/**------------------------------------------------------------------------------------------*/
/*--------/CATEGORY/:ID PAGE CSS--------------------*/
.category-main-content{
  margin: 7.5rem 0;
}
.categorylayout{
  max-width: 120rem;
  margin: 0 auto;
}
.category-title{
  font-size: 3.4rem;
}
/*----------------------------------------Single Product Page Css---------------------------------------------*/
.single-product-main-content{
  margin: 7.5rem 0;
}
.single-product-layout{
  max-width: 120rem;
  margin: 0 auto;
}
.single-product-page{
  display: flex;
  flex-direction: row;
}
.single-product-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 45rem;
  background-color: rgba(0, 0, 0, 0.05);
}
.single-product-left img{
  /* width: 100%; */
  /* height: 100%; */
  /* display: block; */
  object-fit: cover;
  object-position: center;
}
.single-product-right{
   display: flex;
   flex-direction: column;
   padding: 0 3.5rem;
}
.single-product-name{
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}
.single-product-price{
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}
.single-product-desc{
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  color: #6b6b6b;
}
.single-product-cart-buttons{
  display: flex;
  margin-top: 3rem;
}
.quantity-buttons{
  width: fit-content;
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  height: 5rem;
}
.quantity-buttons span{
  font-size: 1.8rem;
   width: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   color: #6b6b6b;
} 
.quantity-buttons span:nth-child(1){
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.quantity-buttons span:nth-child(3){
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.quantity-buttons span:nth-child(2){
   width: 6rem;
}
.addToCartButton{
  outline: none;
  border: none;
  height: 5rem;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  background-color:#8e2de2;
  border-bottom: 3px solid #6516aa;
  flex-grow: unset;
  gap: 1rem;
}
.divider{
  margin: 2rem 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.info-items .text-bold{
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
}
.info-items .text-bold:nth-child(1){
  margin-bottom: 2rem;
}
.info-items .text-bold span{
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  color: #6b6b6b;
}
 .info-items svg{
   margin: 0 0.5rem;
 }
 /*-------------------------------Add to Cart Panel CSS--------------------------------------------------*/
 .cart-panel{
   position: fixed;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   z-index: 99;
  }
.opacity-layer{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.cart-content{
  width: 34rem;
  height: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  animation: slideWindow 0.3s ease forwards
}
.cart-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 1.5rem;
  border-bottom: 1px solid rgba(0,0, 0, 0.1);
}
.Heading{
  flex-grow: 1;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.close-btn{
  display: flex;
 align-items:center;
  gap: 1rem;
  cursor: pointer;
  font-size: 20rem;
}
.close-btn svg{
  font-size: 1.8rem;
}
.cart-close{
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;
}
.cart-close:hover{
  opacity: 0.5;
}
.empty-cart{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 10rem;
}
.empty-cart svg{
  font-size: 12rem;
  opacity: 0.1;
}
.return-cta{
  outline: none;
  border: none;
  height: 4rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.3rem;
  color: #fff;
  background-color:#8e2de2;
  border-bottom: 3px solid #6516aa;
  flex-grow: unset;
  gap: 1rem;
}
.empty-cart-text{
  font-size: 2.0rem;
}
/**------CART FOOTER SECTION--------------*/
.cart-footer{
  border-top:1px solid  rgba(0,0, 0, 0.1) ;
}
.subTotal{
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  border-bottom:1px solid rgba(0,0, 0, 0.1) ;
}
.cart-footer-text{
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.subTotal .total{
  color: #8e2de2;
}
.cart-footer-ruppess{
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.subTotal-button{
  padding: 2rem 1.5rem;
}
.checkOut-cta{
  outline: none;
  border: none;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  background-color:#8e2de2;
  border-bottom: 3px solid #6516aa;
  flex-grow: unset;
  gap: 1rem;
}
.cartItem-products{
  flex-grow: 1;
}
.cartItem-product{
  padding: 2rem 1.5rem;
  display:flex;
  gap:1rem;
}
.img-container{
  background-color: rgba(0, 0, 0, 0.05);
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cartItem-product>.prod-details{
   overflow: hidden;
   position: relative;
}
.cartItem-product>.prod-details>.prod-details-name{
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  padding-right: 2.5rem;
}
.cartItem-product>.prod-details>.cartItems-prod-details-text{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.highlight{
  color: #8e2de2;
  padding-top: 0.2rem;
}
.prod-details-close-btn{
  position: absolute;
  top: 0;
  right:0;
  cursor: pointer;
  font-size: 1.8rem;
}
.prod-details-quantity-buttons{
  width: fit-content;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 3.0rem;
  margin-bottom: 0.8rem;
}
.prod-details-quantity-buttons span{
  font-size: 1.4rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #6b6b6b;
}
.prod-details-quantity-buttons span:nth-child(1){
  font-size: 1.8rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.prod-details-quantity-buttons span:nth-child(3){
  font-size: 1.8rem;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.prod-details-quantity-buttons span:nth-child(2){
   width: 4rem;
}
.cartItem-product:hover{
  background-color: rgba(0, 0, 0, 0.05);
}
/*----------------SEARCH FUNCTIONALITY---------------------------*/
.search-Model{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* transform: translateY(100%); */
  z-index: 999;
  animation: slideSearchWindow 0.5s ease forwards;
}
.form-field{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
  border-bottom:1px solid  rgba(0,0, 0, 0.1);
  position: relative;
}
.form-field input{
  width: 100%;
  max-width: 120rem;
  height: 8rem;
  text-align: center;
  font-size: 4.8rem;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  border: none;
}
.searchModel-close-btn{
  position: absolute;
  font-size: 5rem;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-result-content{
  max-width: 80rem;
  margin: 0 auto;

}
.search-result{
  height: calc(100vh - 16rem);
  overflow: auto;
  margin: 2rem 0;
}
.search-result::-webkit-scrollbar{
  display: none;
}
.search-result-item{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0,0, 0, 0.1);
  cursor: pointer;
}
.search_result_item-img-container{
  background-color: rgba(0, 0, 0, 0.05);
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.search_result_item-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.search_result_item-prod_details{
  overflow: hidden;
}
.search_result_item-prod_details-name{
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1rem;
}
.search_result_item-prod_details-desc{
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4rem;
}
.search-result-item:hover{
  background-color: rgba(0, 0, 0, 0.05);
}
/*------------------------------------------------------------------------------------------------------*/
@keyframes stickyHeader {
   0%{
      transform: translateY(-70%);
   }
   100%{
      transform: translateY(0%);
   }
}
@keyframes slideWindow {
  0%{
    transform: translateX(100%);
 }
 100%{
    transform: translateX(0%);
  }
}
@keyframes slideSearchWindow {
  0%{
    transform: translateY(100%);
 }
 100%{
    transform: translateY(0%);
  }
}
@media (max-width:768px) {
  html{
    font-size: 55%;
  }
  .left{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
    .header_content-logo{
      font-size: 3.4rem;
      position: absolute;
      left: 50%;
      transform: translateX(-70%);
    }
    .header_content_icons{
      font-size: 2.4rem;
      font-weight: 700;
    }
    .hero-Banner{
      padding: 4rem 0rem;
      position: relative;
      background-image:  linear-gradient(to right , #8e2de2,#4a00c0);
      width: 100%;
      height: calc(100vh - 7rem);
    }
    .content{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      max-width: 120rem;
      margin: 0 auto;
    }
    .text-content{
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%); */
    }
    .image-content{
      width: 30%;
    }
    .text-content>h1{
        font-size: 12rem;
    }
    .big-text{
      font-size: 2.8rem;
    }
    .main-content{
      max-width: calc(100% - 2rem);
      margin: 0 auto;
    }
    .category{
      width: calc(50% - 0.5rem);
      background-color: black;
      cursor: pointer;
      overflow: hidden;
    }
    
}
/*------------------------for Mobile Screen---------------------------------------------*/
@media (max-width:640px) {
  .header-content{
    justify-content: flex-end;
    align-items: center;
  }
  .left{
    display: none;
  }
  .content{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
  }
  .text-content{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%); */
  }
  .image-content{
    width: 40%;
  }
  .text-content>h1{
      font-size: 8rem;
  }
  .big-text{
    font-size: 2.8rem;
    text-align: center;
  }
  .form input{
    width:20rem;
    height: 4rem;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0 1.2rem;
    font-size: 1.6rem;
    outline: 0;
  }
  .form button{
    padding: 1rem 1rem;
  }
  .bottom_bar-content{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .category{
    width: calc(40% - 0.5rem);
    background-color: black;
    cursor: pointer;
    overflow: hidden;
  }
   /*----------------------------Responsive case for Products components--------------------------------------*/
   .products-Container{
    margin: 5rem 0;
  }
  .section-heading{
    margin-bottom: 2.0rem;
    font-size:1.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .section-heading::after{
    content: "";
    display: block;
    margin-top: 0.5rem;
    width: 5rem;
    height: 0.3rem;
    background-color: #8e2de2;
  }
  .product-card{
    width: calc(40% - 5px);
    margin-bottom: 2rem;
    margin: 0 auto;
 }
  .thumbNail{
    height: 180px;
   }
   .prod-details .name{
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .prod-details .price{
    font-size: 1.8rem;
  }
  .category-main-content{
    margin: 3rem 0;
  }
  .category-title{
    font-size: 2.4rem;
  }
  /*-------------------------------RESPONSIVE PART FOR SINGLE PRODUCT PAGE-----------------------------------------------*/
  .single-product-main-content{
    margin: 5rem 0;
  }
  .single-product-layout{
    max-width: calc(100% - 2rem);
    margin: 0 auto;
  }
  .single-product-page{
    display: flex;
    flex-direction: column;
  }
  .single-product-left{
    width: 100%;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .single-product-name{
    font-size: 2.0rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
  }
  .single-product-desc{
    font-size: 1.6rem;
    line-height: 2.0rem;
    margin-bottom: 2rem;
    color: #6b6b6b;
  }
  .addToCartButton{
    outline: none;
    border: none;
    height: 5rem;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    background-color:#8e2de2;
    border-bottom: 3px solid #8e2de2;
    flex-grow: 1;
  }
  .cart-content{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
  }
  .return-cta{
    outline: none;
    border: none;
    height: 4rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.3rem;
    color: #fff;
    background-color:#8e2de2;
    border-bottom: 3px solid #6516aa;
    flex-grow: unset;
    gap: 1rem;
  }
  /*---------------------------------Search functionality----------------------------------------*/
  .form-field{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
    border-bottom:1px solid  rgba(0,0, 0, 0.1);
    position: relative;
  }
  .form-field input{
    width: 100%;
    max-width: 120rem;
    height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #212121;
    font-weight: 600;
    text-transform: uppercase;
  }
  .searchModel-close-btn{
    position: absolute;
    font-size: 2.5px;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .search-result-content{
    max-width: calc(100% - 2rem);
    margin: 0 auto;
  }
  .search-result{
    height: calc(100vh - 11rem);
    overflow: auto;
    margin: 2rem 0;
  }
}